
<link href="~/Content/ViewsStyle/AltaUsuariosStyle.css" rel="stylesheet" />

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="card cajaGris">
                <h1 class="letras">ALTA DE USUARIO</h1>
            </div>
            <div class="card cajaVerde">
                <form>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Nombre: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="nombre" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Apellido Primero: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="apePrimero" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Apellido Segundo: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="apeSegundo" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Usuario: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="usuario" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Correo: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="correo" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Contraseña: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="clave" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Estado: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="estado" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Área: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="text" name="area" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="letras"> Fecha: </label>
                        </div>
                        <div class="col">
                            <input class="frmRegistro" type="date" name="fecha" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input class="float-end btnVerde ms-3" type="submit" value="VINCULAR" />
                            <input class="float-end btnCancelar" type="submit" value="CANCELAR" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

